<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,700', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.boldbi.com/embedded-sdk/latest/boldbi-embed.js", "data-turbolinks-track" => true  %>
  </head>

  <body onload="embedSample();">
    <div id="dashboard_container"></div>
    <script>
    function embedSample() {
            var boldbiEmbedInstance = BoldBI.create({
                serverUrl: "<%= j @server_url %>",
                dashboardId: "<%= j @dashboard_id %>",
                embedContainerId: "dashboard_container",
                authorizationServer: {
                  url: "<%= j @authorization_url %>"
                }
            });
            boldbiEmbedInstance.loadDashboard();
        }
    </script>
  </body>
</html>